.config/btop
.config/git/home
.config/gtk-3.0/bookmarks
.config/gtk-4.0/servers
.config/karabiner/automatic_backups
.config/nvim/pack
.config/nvim/plugged

.local/bin
.local/opt
.local/pipx
.local/share/delta
.local/share/fonts/.uuid
.local/share/karabiner
.local/share/nvim
.local/state

.aws/credentials

# Work
.config/git/work
.bashrc.d/work
