.config/git/home
.config/nvim/plugged
.config/btop
.config/karabiner/automatic_backups

.local/bin
.local/share/delta
.local/share/nvim
.local/share/karabiner
.local/state

# Work
.config/git/work
.bashrc.d/work
